

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'header'
    'sidebarL'
    'content'
    'sidebarR'
    'footer';
}

@media only screen and (min-width: 900px) {
  .wrapper {
    // grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
      'header header header'
      'sidebarL content sidebarR'
      'footer footer footer';
  }
}

.wrapper {
  margin: 30px;
}

.header {
  grid-area: header;
  border: 5px solid white;
  background-color: #97babf;
}

.sidebarL {
  grid-area: sidebarL;
  border: 1px solid white;
  background-color: #647c7f;

  ul {
    list-style-type: none;
  }

  ul li {
    padding: 20px;
  }

  .skills1 {
    display: flex;
    justify-content: space-around;
  }

  .skills2 {
    display: flex;
    justify-content: space-around;
  }

  .skills3 {
    display: flex;
    justify-content: space-around;
  }
}

.content {
  grid-area: content;
  border: 5px solid white;
}

.sidebarR {
  grid-area: sidebarR;
  border: 1px solid white;
  background-color: #647c7f;

  .entities {
    font-size: 10em;
    text-align: center;
  }

  .entities1 {
    color: black;
  }
}

.footer {
  grid-area: footer;
  border: 5px solid white;
  background-color: #b5dfe5;

  h2 {
    text-align: center;
    font-size: 2vw;
  }
}
